<div class="user-form">
  <h3>Password forgotten</h3>
  <div class="form-content">
    <form #userForm="ngForm">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" name="email" [(ngModel)]="email">
      </div>
      <div *ngIf="showMessage" class="success-message">
        An email has been send to you so that you can reset your password.
      </div>
      <div *ngIf="displayErrorMessage" class="success-message">
        {{errorMessage}}
      </div>
      <div id="buttons">
        <button type="button" class="btn" (click)="resetPassword()" [disabled]="disableButton">
          Reset Password
        </button>
        <a [routerLink]="['/sign-in']">
          Go Back
        </a>
      </div>
    </form>
  </div>
</div>
