<div class="user-form">
  <h3>Send Email</h3>
  <div class="form-content">
    <p>Send an email to verify your account.</p>
    <div id="buttons">
      <button class="btn btn-primary" (click)="sendEmail()" [disabled]="disableButton">Send Email</button>
      <button class="btn btn-secondary" (click)="navigateToHome()">Go to Home</button>
    </div>
    <div *ngIf="showMessage" class="success-message">
      Email sent successfully. This message will disappear in 5 seconds.
    </div>
  </div>
</div>
