<div id="tournament-description-main">
  <div id="tournament-description-left-part">
    <div id="tournament-description-left-part-title">
      <p>{{ tournamentData?.name }}</p>

    </div>
    <div id="tournament-description-left-part-informations">
      <p><strong>Discipline : </strong>{{ tournamentData?.discipline }}</p>
      <p><strong>Organizer : </strong>{{ tournamentData?.organizer_email }}</p>
      <p><strong>seeding type : </strong>{{ tournamentData?.seedingtype }}</p>
      <p><strong>Date : </strong>{{ tournamentData?.dateOnly }} at {{ tournamentData?.timeOnly }} </p>
      <p><strong>Number of participants : </strong>{{numberOfParticipants}}/{{ tournamentData?.maxparticipants }}</p>
      <p><strong>Number of ranked participants : </strong>{{numberOfRankedPlayers}}</p>
      <p><strong>Application deadline : </strong>{{ tournamentData?.deadlineDateOnly }} at {{ tournamentData?.deadlineTimeOnly }}</p>
      <p><strong>Address : </strong>{{ tournamentData?.address }}</p>
      <div class="map-container"></div>
    </div>
    <div id="tournament-description-left-part-sponsors">
      <div *ngFor="let sponsor of tournamentSponsors">
        <a href="{{sponsor.url}}" target="_blank">
          <img [src]="sponsor.imageurl" alt="Sponsor Image" id="sponsor-image">
        </a>
      </div>
    </div>
  </div>
  <div id="tournament-description-right-part">
    <div id="tournament-description-right-part-header">

    </div>
    <div id="tournament-description-right-part-main">
      <div id="tournament-description-right-part-main-participants">

      </div>
      <div id="tournament-description-right-part-main-ladder">

      </div>
      <div id="tournament-description-right-part-main-matchs">

      </div>
    </div>
  </div>
</div>


