<div id="tournament-description-main">
  <div id="tournament-description-left-part">
    <div id="tournament-description-left-part-title">
      <p>{{ tournamentData?.name }}</p>

    </div>
    <div id="tournament-description-left-part-informations">
      <p><strong>Discipline : </strong>{{ tournamentData?.discipline }}</p>
      <p><strong>Organizer : </strong>{{ tournamentData?.organizer_email }}</p>
      <p><strong>seeding type : </strong>{{ tournamentData?.seedingtype }}</p>
      <p><strong>Date : </strong>{{ tournamentData?.dateOnly }} at {{ tournamentData?.timeOnly }} </p>
      <p><strong>Number of participants : </strong>{{numberOfParticipants}}/{{ tournamentData?.maxparticipants }}</p>
      <p><strong>Number of ranked participants : </strong>{{numberOfRankedPlayers}}</p>
      <p><strong>Application deadline : </strong>{{ tournamentData?.deadlineDateOnly }} at {{ tournamentData?.deadlineTimeOnly }}</p>
      <p><strong>Address : </strong>{{ tournamentData?.address }}</p>
      <div class="map-container"></div>
    </div>

    <div id="tournament-description-left-part-sponsors">
      <div *ngFor="let sponsor of tournamentSponsors">
        <a href="{{sponsor.url}}" target="_blank">
          <img [src]="sponsor.imageurl" alt="Sponsor Image" id="sponsor-image">
        </a>
      </div>
    </div>
  </div>
  <div id="tournament-description-right-part">
    <div id="tournament-description-right-part-header">
      <div id="tournament-description-right-part-header-sections">
        <div id="tournament-description-right-part-header-participants" class="participants" [class.active]="activeSection === 'participants'" (click)='getTournamentParticipantsList(tournamentId)'>
          <button class="btn">Participants</button>
        </div>
        <div *ngIf="displayLadder" id="tournament-description-right-part-header-ladder" class = "ladder" [class.active]="activeSection === 'ladder'" (click)='getTournamentLadder(tournamentId)'>
          <button class="btn ">Ladder</button>
        </div>
        <div *ngIf="displayMatchs" id="tournament-description-right-part-header-matchs" class = "matchs" [class.active]="activeSection === 'matchs'" (click)='getUserMatches(tournamentId)'>
          <button class="btn matchs">Matchs</button>
        </div>
        <div *ngIf="displayTree" id="tournament-description-right-part-header-tree" class = "tree" [class.active]="activeSection === 'tree'" (click)='getTournamentTree(tournamentId)'>
          <button class="btn tree">Tree</button>
        </div>
      </div>
      <div id="tournament-description-right-part-header-buttons">
        <button *ngIf="isParticipantOfTournament=== 'false'" type="button" class="btn participate" (click)="getIntoTournament()">
          Participate
        </button>

        <button *ngIf="isParticipantOfTournament=== 'true'" type="button" class="btn unparticipate" (click)="unparticipate()">
          Quit
        </button>

        <button  *ngIf="isOrganizerOfTournament=== 'true'" type="button" class="btn edit" (click)="editTournament()">
          Edit
        </button>
      </div>


    </div>
    <div id="tournament-description-right-part-main">
      <div *ngIf="activeSection === 'participants'" id="tournament-description-right-part-main-participants">
        <table class="table table-bordered table-hover table-striped table-dark">
          <thead>
            <tr>
              <th>Email</th>
              <th>Rank</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let participant of tournamentParticipants">
              <td>{{ participant.participant_email }}</td>
              <td>{{ participant.rank }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div *ngIf="activeSection === 'ladder'" id="tournament-description-right-part-main-participants">
        <table class="table table-bordered table-hover table-striped table-dark">
          <thead>
            <tr>
              <th>Position</th>
              <th>Email</th>
              <th>Initial Rank</th>
              <th>Score</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let participant of tournamentLadder; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ participant.participant_email }}</td>
              <td>{{ participant.rank }}</td>
              <td>{{ participant.score }}</td>
            </tr>
          </tbody>
        </table>
      </div>


      <div *ngIf="activeSection === 'matchs'" id="tournament-description-right-part-main-matches">
        <div *ngFor="let match of userMatches" class="match-element" [class.active]="match.winner === userParticipantId" [class.inactive]="match.winner && match.winner !== userParticipantId">
          <div class="contestants">
            {{match.participant1_email}} <strong>VS</strong> {{match.participant2_email}}
          </div>
          <div *ngIf="displayResultBox(match)" class="result-box">
            <p class="require-result"><strong>Select winner : </strong></p>
            <div class="result-buttons">
              <button (click)="selectWinner(match.participant1, match.id)" class="btn btn-primary"> Left Player </button>
              <button (click)="selectWinner(match.participant2, match.id)" class="btn btn-primary"> Right Player</button>
            </div>
          </div>
        </div>

      </div>

      <div *ngIf="activeSection === 'tree'" id="tournament-description-right-part-main-tree">
        <div *ngFor="let round of tournamentTree | keyvalue" class="round-container">
          <div class="round">
            <div *ngFor="let match of round.value" class="round-content">
              <div class="tree-match">
                <div class="tree-match-participant-1" [class.won]="match.winner === match.participant1" [class.lost]="match.winner && match.winner !== match.participant1">
                  {{ match.participant1_email }}
                </div>
                <div class="tree-match-vs">
                  VS
                </div>
                <div class="tree-match-participant-2" [class.won]="match.winner === match.participant2" [class.lost]="match.winner && match.winner !== match.participant2">
                  {{ match.participant2_email }}
                  <div *ngIf="!match.participant2">No Opponnent</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div id="tournament-description-right-part-main-ladder">

      </div>
      <div id="tournament-description-right-part-main-matchs">

      </div>
    </div>

    <div *ngIf="showMessage" class=" message alert alert-success ">
      {{ message }}
    </div>

    <div *ngIf="showErrorMessage" class=" message alert alert-danger ">
      {{ errorMessage }}
    </div>

  </div>
</div>


