.map-container {
  width: 350px;
  height: 150px;
  border: solid 1px;
  border-radius: 20px;
  overflow: hidden;
}


#tournament-description-main{
  height: 100%;
  display: flex;
  flex-direction: row;
}

#tournament-description-left-part{
  background-color: #E5E5E5;
  color: #14213D;
  height: 80vh;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#tournament-description-left-part-header{
  background-color: #14213D;
  color: #E5E5E5;
  height: 7%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

#sponsor-image{
  max-width: 50px;
  max-height: 50px;
}
#tournament-description-left-part-sponsors{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  overflow: hidden;
}
#tournament-description-left-part-title{
  font-size: 20px;
  font-weight: bold;
}

#tournament-description-left-part-informations{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: space-around;
  padding: 20px;
}

#tournament-description-right-part{
  height: 100%;
  width: 75%;
  margin-inline: 10px;
}

#tournament-description-right-part-header{
  margin-block: 5px;
  padding: 5px;
  border: solid 1px #14213D;
  border-radius: 20px;
  height: 7%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#tournament-description-right-part-header-sections {
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
}

#tournament-description-right-part-header-sections div{
  padding: 5px;
  width: 100%;
}
#tournament-description-right-part-header-sections .btn {
  width: 100%;
  background-color: #14213D;
  color: #E5E5E5;
  font-weight: bold;
}

#tournament-description-right-part-header-sections .btn:hover {
  width: 100%;
  background-color: #FFCC00;
  color: #14213D;
}

.participants.active > .btn{
  background-color: #FFCC00 !important;
  color: #14213D !important;
}
.ladder.active > .btn{
  background-color: #FFCC00 !important;
  color: #14213D !important;
}
.matchs.active > .btn{
  background-color: #FFCC00 !important;
  color: #14213D !important;
}
.tree.active > .btn{
  background-color: #FFCC00 !important;
  color: #14213D !important;
}
#tournament-description-right-part-header-buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 30%;
}


.participate, .edit{
  color: black;
  background-color: #FFCC00;
  border-color: #FFCC00;
  width: 40%;
  font-weight: bold;
}
.participate:hover, .edit:hover{
  color: white;
  background-color: #14213D;
  border-color: #14213D;
  width: 40%;
  font-weight: bold;
}

.unparticipate{
  color: black;
  background-color: #FF004C;
  border-color: #FF004C;
  width: 40%;
  font-weight: bold;
}
.unparticipate:hover{
  color: white;
  background-color: #B22222;
  border-color: #B22222;
  width: 40%;
  font-weight: bold;
}

#tournament-description-right-part-main{
  height: 73vh;
  border: solid 1px #14213D;
  border-radius: 20px;
  overflow: auto;
}

.message {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
}

#tournament-description-right-part-main-participants{
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: solid 1px #14213D;
  border-radius: 20px;
  overflow: hidden;
}
#tournament-description-right-part-main-matches{
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
}

.match-element{
  background-color: #14213D;
  color: #E5E5E5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  border: solid 1px #14213D;
  border-radius: 20px;
  margin: 5px;
  padding: 5px;
}
.require-result{
  font-weight: bold;
}

.contestants{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  font-weight: bold;
  font-size: 30px;
}
.result-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  font-weight: bold;
  font-size: 30px;
}
.result-buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.result-buttons button{
  background-color: #FFCC00;
  border: #FFCC00 solid 1px;
  width: 33%;
  color: #14213D;
  font-weight: bold;
}
.result-buttons button:hover{
  background-color: #FFCC00;
  opacity: 0.5;
  border: #FFCC00 solid 1px;
  width: 33%;
  color: #14213D;
  font-weight: bold;
}

.match-element.active {
  background-color: rgba(25, 135, 84, 0.7);
  color: #14213D;
}

.match-element.inactive {
  background-color: rgba(220, 53, 69, 0.7);
  color: #14213D;
}

.table{
  margin: 0;
}

#tournament-description-right-part-main-tree {
  display: flex;
}

.round-container {
  margin-right: 20px;
}
.round{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.round-content{
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.tree-match{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #14213D;
  color: #E5E5E5;
  border: #14213D solid 1px;
  border-radius: 20px;
  overflow: hidden;
  width: 20vw;
  margin: 10px;
}

.tree-match-participant-1 ,.tree-match-participant-2{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.tree-match-participant-1.won ,.tree-match-participant-2.won{
  background-color: #d4edda;
  color: #14213D;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.tree-match-participant-1.lost ,.tree-match-participant-2.lost{
  background-color: #f8d7da;
  color: #14213D;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
