<div class="user-form">
  <h3>Sign In</h3>
  <div class="form-content">
    <form #userForm="ngForm">
      <div class="form-group">
        <label for="email-sign-in">Email</label>
        <input type="text" class="form-control" id="email-sign-in" name="email-sign-in" [(ngModel)]="email">
      </div>
      <div class="form-group">
        <label for="password-sign-in">Password</label>
        <input type="password" class="form-control" id="password-sign-in" name="password-sign-in" [(ngModel)]="password">
      </div>
      <p *ngIf="displayErrorMessage" class="error-message">{{ errorMessage }}</p>
      <div id="buttons">
        <a href="#" (click)="redirectToPasswordForgotten($event)" [style.cursor]="'pointer'">
          Password forgotten ?
        </a>
        <button type="button" class="btn" (click)="signIn()" [disabled]="disableButton">
          Sign In
        </button>
        <a href="#" (click)="redirectToSignUp($event)" [style.cursor]="'pointer'">
          Don't have an account? Sign Up
        </a>
      </div>
    </form>
  </div>
</div>
