@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap');
* {
  font-family: 'Be Vietnam Pro', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #E5E5E5;
}

main {
  flex: 1;
  overflow-y: auto;
}

footer {
  width: 100%;
  background-color: #14213D;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 10px 0;
  margin-top: auto;
}

html {
  min-height: 100%;
}

html, body {
  margin-bottom: 60px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #14213D;
  color: white;
  width: 100%;
}

#header-left-part {
  display: flex;
  align-items: center;
}

#header-left-part p {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
}

#header-left-part img {
  width: 50px;
  margin: 10px;
}

#header-right-part {
  margin-right: 30px;
}

#header-right-part ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#header-right-part a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin: 0 10px;
}

#header-right-part a:hover {
  text-decoration: underline;
}
